:root {
  --color1: #8de969;
  --color2: #3d5a6c;
  --color3: #72a98f;
  --color4: #cbef43;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "advent Pro", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

/***************** NAVBAR ********************/
.inner-header {
  position: relative;
  overflow: hidden;
  background-color: var(--color3);
  position: fixed;
  width: 100%;
  opacity: 0.9;
}
header li {
  float: right;
}
header li a {
  display: block;
  padding: 18px 16px;
}
#logo-nav {
  position: absolute;
  margin-top: 2px;
  width: 200px;
  left: 20px;
}

#image-princip {
  padding-top: 180px;
  background: url(assets/fifa-22-mbappe.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
  height: 799px;
  width: 100%;
}

h1 {
  font-family: "tahoma", cursive;
  text-align: center;
  color: var(--color1);
  font-size: 6em;
  margin-top: 110px;
  text-shadow: 1px 3px 2px black;
}
#premierTrait {
  height: 3px;
  width: 45%;
  margin: -3px auto;
  background-color: var(--color2);
  box-shadow: 1px 3px 2px black;
}

h3 {
  text-align: center;
  color: var(--color3);
  font-size: 3em;
  text-shadow: 1px 3px 2px black;
  margin: 20px;
}
/* **************présentations*************** */
#presentations {
  background-color: rgb(218, 209, 209);
  padding: 10px 0px 100px 0;
}

h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-shadow: 2px 1px gray;
  border-style: double;
  width: 80%;
  color: var(--color3);
}

.h2 {
  display: flex;
  justify-content: center;
}

p {
  text-align: justify;
  letter-spacing: 2px;
  font-style: italic;
  font-style: ;
  padding: 40px 65px;
  margin: 20px;
  margin-top: 0;
  display: block;
  justify-content: center;
}
/* ****************mode de jeu**************** */
#mode {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 5%;
}
.imagesflexbox h4 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 1.8em;
  margin: 15px;
  font-weight: 300;
}
.imagesflexbox img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 3px 4px 3px 1px rgba(0, 0, 0, 0.507);
}
.imagesflexbox img:hover {
  opacity: 0.5;
  transform: scale(1.05);
  transition: 0.6 ease-in-out;
}

/* **************FOOTER***************** */
footer {
  position: relative;
  background-color: var(--color3);
  padding: 20px 0 10px 0;
  text-align: center;
}
/* *************button acheter fifa********* */
button {
  font-size: 1.5em;
  background-color: var(--color4);
  border-radius: 5px;
}
button:hover {
  background-color: var(--color3);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
/* ***************2éme trait*************** */
#deuxiémeTrait {
  height: 1px;
  width: 85%;
  background-color: black;
  margin: 60px auto;
}
/* **************icons footer*************** */
#icons a {
  display: inline-block;
  margin: 0 15px;
  font-size: 1.3em;
}

#icons a:hover {
  transform: scale(1.5);
  transition: 0.1s;
}
/* ****************images footer*********** */
#pegi {
  position: absolute;
  width: 150px;
  bottom: 20px;
  right: 10px;
}

#logo-fifa {
  position: absolute;
  width: 250px;
  bottom: 20px;
  left: 20px;
}

/************style formulaire************/

.formulaire {
  width: 50%;
  min-height: 500px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 15px;
}

.grid {
  border: 2px solid black;
  padding: 10px;
  margin-top: 80px;
  border-radius: 10px;
  position: relative;
}
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px;
}
.img {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "i1 i2"
    "ta ta"
    "bt bt";
}
input,
textarea {
  margin: 5px;
  height: 45px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1rem;
  font-family: "font-1";
}
#firstname {
  grid-area: i1;
}
#surname {
  grid-area: i2;
}
textarea {
  grid-area: ta;
  resize: none;
}
input[type="submit"] {
  grid-area: bt;
  cursor: pointer;
  background-color: var(--color2);
  transition: 0.4s;
  color: white;
}
input[type="submit"]:hover {
  background: var(--color1);
  color: white;
}

/* **************Responsive************* */
@media screen {
  max-width: 1000px;
}
.grid-container {
  display: block;
}

@media screen {
  max-width: 780px;
}
form {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "i1"
    "i2"
    "ta"
    "bt";
}

/* **************css yanis: page futch , page média*************** */

.bodya {
  background-image: url("cool-backround3.png");
}

.futchamp {
  font-size: 300%;
  color: rgb(235, 185, 14);
  font-style: italic;
  text-align: center;
  font-family: Tahoma;
  margin-top: 2%;
  text-shadow: 8px 8px 12px black;
}

.intro {
  font-size: 31px;
  border-style: double;
  margin-left: 2%;
  margin-right: 2%;
  color: rgb(162, 20, 11);
  margin-top: 3%;
}

.logo {
  position: absolute;
  bottom: 55%;
  left: 0%;
  margin-bottom: -1%;
}

.logo2 {
  position: absolute;
  bottom: 55%;
  right: 0%;
  margin-bottom: -1%;
}

.para {
  margin-left: 2%;
  margin-right: 2%;
}

.global {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -8%;
}

.left,
.right,
.milieu {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  border-radius: 10%;
}

.left img,
.right img {
  width: 300px;
  height: 220px;
  margin-top: 10%;
  border-radius: 10%;
}

.playoffs {
  font-family: monospace;
  font-size: 40px;
  color: navy;
  text-align: center;
  text-shadow: 3px 2px gray;
}

.texteplayoffs {
  font-size: 20px;
  margin-left: 3%;
  margin-right: 3%;
}

.qualifplayoffs {
  margin-left: 3%;
  margin-right: 3%;
  font-size: 25px;
  color: rgb(162, 20, 11);
}

.q1 {
  margin-left: 3%;
  margin-right: 3%;
  font-size: 18px;
}

.finals {
  font-family: monospace;
  font-size: 40px;
  color: navy;
  text-align: center;
  text-shadow: 3px 2px gray;
}

.textefinals {
  font-size: 20px;
  margin-left: 3%;
  margin-right: 3%;
}

.qualiffinals {
  margin-left: 3%;
  margin-right: 3%;
  font-size: 25px;
  color: rgb(162, 20, 11);
}

.q2 {
  margin-left: 3%;
  margin-right: 3%;
  font-size: 18px;
}

/****************** CSS FANSITE 2 (PAGE MEDIA) *************/

.bodyb {
  background-color: rgb(228, 215, 215);
}

.media {
  font-size: 350%;
  color: rgb(20, 0, 131);
  font-style: italic;
  text-align: center;
  font-family: Tahoma;
  margin-top: 3%;
  text-shadow: 8px 8px 12px black;
}

.logo3 {
  position: absolute;
  bottom: 88%;
  right: 77%;
  margin-bottom: -3%;
  width: 300px;
}

.logo4 {
  position: absolute;
  bottom: 88%;
  left: 77%;
  margin-bottom: -3%;
  width: 300px;
}

.meilleur {
  font-family: unset;
  color: rgb(30, 126, 216);
  text-align: center;
  margin-top: 5%;
  font-size: 25px;
  border-style: double;
}

.pire {
  font-family: unset;
  color: rgb(30, 126, 216);
  text-align: center;
  margin-top: 5%;
  font-size: 25px;
  border-style: double;
}

.videobutetcoupfranc {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.videofailetdrole {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}
